body {
    background-color: rgb(218, 246, 255);
}
  
h1 {
    color: #12244f;
    margin-left: 0px;
}

h2 {
    margin-left: 0px;
}

div.para {
  max-width: 600px;
  margin: left;
  margin-left: 20px;
}

div.topnav {
    background-color: #12244f;
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  div.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  div.topnav a:hover {
    background-color: #bacfff;
    color: black;
  }
  
  /* Add a color to the active/current link */
  div.topnav a.active {
    background-color: #5579cd;
    color: rgb(255, 255, 255);
  }