div.topnav {
    background-color: #352714;
    overflow: hidden;
}

/* Style the links inside the navigation bar */
div.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: left;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
div.topnav a:hover {
  background-color: #e6d6c1;
  color: black;
  border-bottom: 0px;
}

/* Add a color to the active/current link */
div.topnav a.active {
  background-color: #967150;
  color: rgb(255, 255, 255);
}